<!DOCTYPE HTML>
<html>
<head>
	{% block head %}
	<meta charset="{{charset|default('UTF-8')}}">
	<title>{{title|default('No Title')}}</title>
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>